<web-app>
    <display-name>Aella</display-name>
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>Hello</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
</web-app>