<web-app>
    <display-name>Aella</display-name>
    <servlet>
        <servlet-name>Dragoons</servlet-name>
        <servlet-class>celinederoland.controllers.DragoonListResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dragoon</servlet-name>
        <servlet-class>celinederoland.controllers.DragoonResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dragoons</servlet-name>
        <url-pattern>/dragoons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dragoon</servlet-name>
        <url-pattern>/dragoon/*</url-pattern>
    </servlet-mapping>
</web-app>