<web-app>
    <display-name>Aella</display-name>
    <servlet>
        <servlet-name>Figures</servlet-name>
        <servlet-class>celinederoland.controllers.FigureListResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Figure</servlet-name>
        <servlet-class>celinederoland.controllers.FigureResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Figures</servlet-name>
        <url-pattern>/figures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Figure</servlet-name>
        <url-pattern>/figure/*</url-pattern>
    </servlet-mapping>
</web-app>